<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PoliNet</title>
        <link rel='stylesheet' type='text/css' href='/static/style_iainticker.css'>
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato'>

        {{ plot_resources|indent(4)|safe }}
        {{ plot_script|indent(4)|safe }}
 
    </head>
    <body>
        <div class=page>
            <h1>Welcome to PoliNet!</h1>
            <h2>You have selected: {{ name }}</h2>
        </div>
        <div>
            <h2>User Input</h2>
            <div class=metanav>

                <h4>Here you can enter a new stock ticker eg. GOOG, and check desired features.</h4>

                <form id='input' method='post' action='index'>  
                <p>
                    Ticker symbol: <input type='text' name='ticker' />
                </p>
                <p>
                    Closing price <input type="checkbox" name='features' value='Close'><br>
                    Adjusted closing price <input type="checkbox" name='features' value='Adj. Close'><br>
                    Volume <input type="checkbox" name='features' value='Volume'><br>
                    <input type="submit" value="Submit">
                </p>
                </form>

            </div>
        </div>
        <div>
            <h2>Politician Chosen: {{ name }} </h2>
            <p>Today's closing price: {{ data.iloc[-1] }}</p>

            {{ plot_div|indent(4)|safe }}



    </body>
</html>